---
layout: default
---
<div class="post">
<h2>Tag: {{ page.tag }}</h2>
<ul>
{% for post in site.tags[page.tag] %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    <span class="post-desc">{{ post.description }}</span>
  </li>
{% endfor %}
</ul>
<div class="page-navigation code">
		<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index"> <span>&uArr;</span> Back Index  <span>&uArr;</span>
		</a>
</div>
</div>
<br>
<hr>
